// サイト縦分割
$iframe_left : 178px;

.site-separator {
	display: flex;
	flex-direction: row-reverse;

	// main
	& > *:nth-child(1) {
		flex: 1 1 100vw;

    /*
    overflow: hidden;
    &.sidebar-js-active {
      overflow: scroll;
      flex-basis: 100%;
    }
    */

  }

	// nav
	& > *:nth-child(2) {
    flex: 0 0 0;

    transition-duration: .4s;
    &.sidebar-js-active {
      flex-basis: $iframe_left;
    }
	}
}

#global-navigation {
  height: 100%;
  width: 100%;

  position: fixed;
  top: 0;
  width: 0;

  transition-duration: .4s;
  &.sidebar-js-active {
    width: $iframe_left;
  }


}

.nav-body {

  &::before {
    content: "";
    display: block;
    height: 80px;
  }

}


.nav-functions {
  position: fixed;
  top: 0;
  width: 100%;
  pointer-events: none;

  button {
    pointer-events: visible;

    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);

    font-size: 15px;
    height: 50px;

    margin-top: 25px;
    margin-right: auto;
    margin-left: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    & > * {
      flex: 1 1 auto;
    }

    &:hover, &:active {
      background-color: transparent;
    }
  }
}

.nav-contents {
  &__title {

  }

  &__stages {

  }
}