// 全体センタリング
.site-wraper {
	text-align: center;
}

// 注意
.attention {
	color: red;
	margin-right: 0.8em;
}

// 水平線
HR {
	width: 95%;
	border-style: solid;
	border-color: #3300CC;
	border-width: 2px;
}
