
// サイトタイトル
header {
  text-align: center;

  .site-title {
    @include auto-width;
    margin-bottom: 1.2em;

    &__main {
      display: block;

      font-size: 1.5em;
      font-weight: normal;

      @include min-w-side() {
        &::before {
          content: "-- ";
        }
        &::after {
          content: " --";
        }
      }
    }

    &__sub {
      display: block;
      font-weight: normal;
    }
  }
}

// サイトコメント
.site-description {
  @include auto-width;
	margin-bottom: 1.2em;
}
