.contents {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;

  .hover-lamp {
    margin-bottom: 2em;
    flex: 1 0 300px;
    margin-right: 2em;
    &:last-child {
      margin-right: 0;
    }

    &__plate {
      margin-bottom: 1.2em;
    }

    .content-description {
      margin-bottom: 1.2em;
    }
  }
}
