@charset "UTF-8";
/*!
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
/* line 9, _src/sass/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* line 30, _src/sass/_reset.scss */
body {
	line-height: 1;
}

/* line 34, _src/sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* line 39, _src/sass/_reset.scss */
nav ul {
	list-style: none;
}

/* line 43, _src/sass/_reset.scss */
blockquote, q {
	quotes: none;
}

/* line 47, _src/sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* line 53, _src/sass/_reset.scss */
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* change colours to suit your needs */
/* line 62, _src/sass/_reset.scss */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */
/* line 69, _src/sass/_reset.scss */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

/* line 76, _src/sass/_reset.scss */
del {
	text-decoration: line-through;
}

/* line 80, _src/sass/_reset.scss */
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

/* line 85, _src/sass/_reset.scss */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 91, _src/sass/_reset.scss */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

/* line 100, _src/sass/_reset.scss */
input, select {
	vertical-align: middle;
}

/* line 17, _src/sass/functions.scss */
body {
	font-size: 20px;
}

@media screen and (max-width: 782px) {
	/* line 17, _src/sass/functions.scss */
	body {
		font-size: 12px;
	}
}

/* line 2, _src/sass/_common.scss */
* {
	box-sizing: border-box;
}

/* line 6, _src/sass/_common.scss */
body {
	font-family: "sans-serif";
	line-height: 1.4;
	scrollbar-3dlight-color: #6896FF;
	scrollbar-arrow-color: #054A96;
	scrollbar-base-color: #CEFFFF;
	scrollbar-darkshadow-color: #6896FF;
	scrollbar-face-color: #DDFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #B0FFFF;
	background-color: #D8FFFF;
	color: #000060;
}

/* line 35, _src/sass/_common.scss */
a, button {
	color: #0000FF;
	transition-duration: .45s;
}

/* line 39, _src/sass/_common.scss */
a:link, button:link {
	color: #0000FF;
	text-decoration: none;
}

/* line 44, _src/sass/_common.scss */
a:visited, button:visited {
	color: #0000B5;
	text-decoration: none;
}

/* line 49, _src/sass/_common.scss */
a:active, button:active {
	color: #B5FFFF;
	text-decoration: underline overline;
	background-color: #0000FF;
}

/* line 55, _src/sass/_common.scss */
a:hover, button:hover {
	color: #0000FF;
	text-decoration: underline overline;
	background-color: #a4FFFF;
}

/* line 63, _src/sass/_common.scss */
small {
	font-size: 0.75em;
}

/* line 67, _src/sass/_common.scss */
.large-font {
	font-size: 1.5em;
}

/* line 71, _src/sass/_common.scss */
.middle-font {
	font-size: 1.25em;
}

/* line 1, _src/sass/site/footer.scss */
.footer-wrap {
	margin-bottom: 5em;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
}

/* line 11, _src/sass/site/footer.scss */
.footer-wrap > * {
	flex: 0 0 auto;
}

/* line 3, _src/sass/parts.scss */
.page-top .site-wraper {
	text-align: center;
}

/* line 8, _src/sass/parts.scss */
.attention {
	color: red;
	margin-right: 0.8em;
}

/* line 14, _src/sass/parts.scss */
HR {
	box-sizing: content-box;
	height: 0;
	width: 95%;
	margin: 1.5em auto;
	border-style: solid;
	border-color: #3300CC;
	border-width: 1px;
}

/* line 33, _src/sass/parts.scss */
.block-link-wrap {
	display: flex;
}

/* line 29, _src/sass/parts.scss */
.block-link-wrap > * {
	flex: 0 1 auto;
}

/* line 37, _src/sass/parts.scss */
.block-link {
	box-sizing: border-box;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border: solid 1px transparent;
}

/* line 43, _src/sass/parts.scss */
.block-link > * {
	width: 100%;
	height: auto;
}

/* line 50, _src/sass/parts.scss */
.block-link:hover {
	text-decoration: none;
	border-top: solid 1px #0000FF;
	border-bottom: solid 1px #0000FF;
}

/* line 56, _src/sass/parts.scss */
.block-link:active {
	text-decoration: none;
	border-top: solid 1px #0000FF;
	border-bottom: solid 1px #0000FF;
}

/* line 67, _src/sass/parts.scss */
.flame-menu__link {
	font-family: "sans-serif";
	line-height: 1.4;
	background-color: transparent;
	font-size: 1.5em;
	font-weight: normal;
}

/* line 75, _src/sass/parts.scss */
.flame-menu__link::before {
	content: "一二三◇";
	margin-right: 1em;
}

/* line 79, _src/sass/parts.scss */
.flame-menu__link::after {
	content: "◇三二一";
	margin-left: 1em;
}

/* line 87, _src/sass/parts.scss */
.back-to-top {
	position: fixed;
	bottom: 25px;
	right: 25px;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.5);
}

/* line 94, _src/sass/parts.scss */
.back-to-top a {
	border-radius: 3px;
	display: flex;
	font-size: 15px;
	height: 50px;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* line 29, _src/sass/parts.scss */
.back-to-top a > * {
	flex: 0 1 auto;
}

/* line 106, _src/sass/parts.scss */
.back-to-top a > * {
	flex: 1 1 auto;
}

/* line 110, _src/sass/parts.scss */
.back-to-top a:hover {
	text-decoration: none;
}

/* line 4, _src/sass/g-nav.scss */
.site-separator {
	display: flex;
	flex-direction: row-reverse;
}

/* line 9, _src/sass/g-nav.scss */
.site-separator > *:nth-child(1) {
	flex: 1 1 100vw;
	/*
    overflow: hidden;
    &.sidebar-js-active {
      overflow: scroll;
      flex-basis: 100%;
    }
    */
}

/* line 23, _src/sass/g-nav.scss */
.site-separator > *:nth-child(2) {
	flex: 0 0 0;
	transition-duration: .4s;
}

/* line 27, _src/sass/g-nav.scss */
.site-separator > *:nth-child(2).sidebar-js-active {
	flex-basis: 178px;
}

/* line 33, _src/sass/g-nav.scss */
#global-navigation {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	width: 0;
	transition-duration: .4s;
}

/* line 42, _src/sass/g-nav.scss */
#global-navigation.sidebar-js-active {
	width: 178px;
}

/* line 49, _src/sass/g-nav.scss */
.nav-body {
	font-size: 15px;
	box-sizing: border-box;
	margin-left: 0.75em;
}

/* line 55, _src/sass/g-nav.scss */
.nav-body::before {
	content: "";
	display: block;
	height: 80px;
}

/* line 64, _src/sass/g-nav.scss */
.nav-functions {
	position: fixed;
	top: 0;
	width: 100%;
	pointer-events: none;
}

/* line 70, _src/sass/g-nav.scss */
.nav-functions button {
	pointer-events: visible;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 15px;
	height: 50px;
	margin-top: 25px;
	margin-right: auto;
	margin-left: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* line 86, _src/sass/g-nav.scss */
.nav-functions button > * {
	flex: 1 1 auto;
}

/* line 90, _src/sass/g-nav.scss */
.nav-functions button:hover, .nav-functions button:active {
	background-color: transparent;
}

/* line 96, _src/sass/g-nav.scss */
.nav-contents {
	margin-bottom: 1.5em;
}

/* line 99, _src/sass/g-nav.scss */
.nav-contents__title {
	border-bottom: solid 1px #3300cc;
}

/* line 104, _src/sass/g-nav.scss */
.nav-contents__stages > * {
	display: inline-block;
}

/* line 5, _src/sass/site/top.scss */
.site-title {
	margin-bottom: 1.2em;
}

/* line 8, _src/sass/site/top.scss */
.site-title__main {
	display: block;
	font-size: 1.5em;
	font-weight: normal;
}

/* line 14, _src/sass/site/top.scss */
.site-title__main::before {
	content: "-- ";
}

/* line 17, _src/sass/site/top.scss */
.site-title__main::after {
	content: " --";
}

/* line 22, _src/sass/site/top.scss */
.site-title__sub {
	display: block;
	font-weight: normal;
}

/* line 29, _src/sass/site/top.scss */
.site-description {
	margin-bottom: 1.2em;
}

/* line 33, _src/sass/site/top.scss */
.site-attention {
	margin-bottom: 1.2em;
}

/* line 39, _src/sass/site/top.scss */
.view-of-the-world {
	max-width: 100%;
}

/* line 43, _src/sass/site/top.scss */
.world-map {
	margin-bottom: 1em;
}

/* line 46, _src/sass/site/top.scss */
.world-map__img {
	width: 512px;
	max-width: 95%;
	height: auto;
}

/* line 54, _src/sass/site/top.scss */
.world-time__input {
	width: 95%;
	max-width: 512px;
}

/* line 63, _src/sass/site/top.scss */
.menu-wrap {
	margin-bottom: 1.8em;
}

/* line 70, _src/sass/site/top.scss */
.contents-index-menu dd {
	margin-bottom: 1.5em;
}

/*# sourceMappingURL=../../scss_map/sv4.css.map */